.contact__item
  color lightColor
  margin-bottom 15px
  a
    color lightColor
    &:active
      color lightColor
    &:focus
      color lightColor
    &:hover
      color lightColor
  i
    font-size round(fontSize * 1.5)
    margin-right 15px
    &:last-child
      margin 0
