.contact__map
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px
  border-top-left-radius 5px
  border-top-right-radius 5px
  height 450px
  overflow hidden
  @media only screen and (min-width: sm)
    border-bottom-left-radius 0
    border-top-left-radius 0
    float left
    width 60%
