.contact__social
  border-top 1px solid lightColor
  a
    color lightColor
    &:active
      color lightColor
    &:focus
      color lightColor
    &:hover
      color lightColor
    margin-right 15px
    &:last-child
      margin 0
  i
    font-size round(fontSize * 1.5)
