.contact__info
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px
  border-top-left-radius 5px
  border-top-right-radius 5px
  background themeOverlay
  margin-bottom 20px
  padding 15px 20px
  @media only screen and (min-width: sm)
    border-bottom-right-radius 0
    border-top-right-radius 0
    float left
    height 450px
    margin 0
    width 40%
