.search__input
  border 0
  display inline-block
  font-size round(fontSize * 1.1)
  padding 5px 8px
  width 240px
  @media only screen and (min-width: sm)
    font-size round(fontSize * 1.2)
    padding 10px 15px
    width 100%
