.search__button
  background transparent
  border 0
  color lightColor
  cursor pointer
  display inline-block
  font-size round(fontSize * 1.6)
  @media only screen and (min-width: sm)
    font-size round(fontSize * 1.8)
