extends ../layouts/default.pug

block site__content
  section.section.contact
    .section__header.contact__header
      .wrapper
        h1.section__title.section__title_color_accent.contact__title
          | Контакты
        .line
          .line__item.line__item_color_accent
          .line__square.line__square_color_accent
            i.fa.fa-square(aria-hidden='true')
          .line__item.line__item_color_accent
        .section__subtitle.section__subtitle_color_accent.contact__subtitle
          | Как с нами можно связаться
    .section__content.contact__content
      .wrapper
        .contact__info
          table.contact__table
            tbody
              tr
                td.contact__td
                  .contact__item
                    i.fas.fa-map-marker
                    span
                      | Россия, г. Москва, Ленинский проспект, д. 10, к. 5
                  .contact__item
                    i.fas.fa-phone-square
                    span
                      | +7 (499) 705-88-20
                  .contact__item
                    i.fas.fa-envelope
                    a(href='mailto:patr.dimitry@gmail.com', target='_blank')
                     | patr.dimitry@gmail.com
                  .contact__social
                    h3.contact__name.name
                      | Социальные сети:
                    a(href='https://vk.com/patrdimitry', target='_blank')
                      i.fab.fa-vk
                    a(href='https://www.facebook.com/programmasidelki/', target='_blank')
                      i.fab.fa-facebook-f
                    a(href='https://plus.google.com/103887673363548195003', target='_blank')
                      i.fab.fa-google-plus-g
        .contact__map
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.174877617547!2d37.59425431616187!3d55.720712980544846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b7308ca9541%3A0x3e559498a5a1ae1d!2z0JvQtdC90LjQvdGB0LrQuNC5INC_0YAuLCAxMNC6NSwg0JzQvtGB0LrQstCwLCAxMTkwNDk!5e0!3m2!1sru!2sru!4v1508317922792', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen)
