extends ../layouts/default.pug

block site__content
  include ../sections/coast.pug
  include ../sections/service.pug
  include ../sections/ward.pug
  include ../sections/news.pug
  include ../sections/fact.pug
  include ../sections/charity.pug
  include ../sections/benefactor.pug
  include ../sections/partner.pug
