extends ../layouts/default.pug

block site__content
  section.section.page
    .section__header.page__header
      .wrapper
        h1.section__title.section__title_color_accent.page__title
          | Lorem ipsum dolor sit amet
        .line
          .line__item.line__item_color_accent
          .line__square.line__square_color_accent
            i.fa.fa-square(aria-hidden='true')
          .line__item.line__item_color_accent
        .section__subtitle.section__subtitle_color_accent.about__subtitle
          | Section subtitle text
    .section__content.page__content
      .wrapper
