.navigation
  background lightOverlay
  bottom 0
  display none
  height 100%
  left 0
  overflow-y scroll
  padding-top 25%
  position fixed
  right 0
  top 0
  z-index 100
  width 100%
  @media only screen and (min-width: md)
    background transparent
    display block
    height auto
    overflow-y visible
    padding-top 0
    position static
