footer.site__footer.footer
  .wrapper
    .footer__cell
      section.bottom-nav
        h3.bottom-nav__name
          | Наша служба
        ul.bottom-nav__list
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | О нас
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Новости
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Отчеты
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Благодарности
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Работа у нас
          li.bottom-nav__item
            a.bottom-nav__link(href='https://miloserdie.help/donate/?item=1350')
              | Помочь службе
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Конкурс грантов мэра г. Москвы
    .footer__cell
      section.bottom-nav
        h3.bottom-nav__name
          | Социальные сети
        ul.bottom-nav__list
          li.bottom-nav__item
            a.bottom-nav__link(href='https://vk.com/patrdimitry', target='_blank')
              | ВКонтакте
          li.bottom-nav__item
            a.bottom-nav__link(href='https://www.facebook.com/programmasidelki/', target='_blank')
              | Facebook
          li.bottom-nav__item
            a.bottom-nav__link(href='https://plus.google.com/103887673363548195003', target='_blank')
              | Google+
    .footer__cell
      section.bottom-nav
        h3.bottom-nav__name
          | В помощь ухаживающим
        ul.bottom-nav__list
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Памятки по социальной защите
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Вопросы и ответы
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Полезные статьи для ухаживающих
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Обучающие презентации по уходу
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Пособия для ухаживающих
          li.bottom-nav__item
            a.bottom-nav__link(href='#')
              | Видеоматериалы по патронажному уходу
    .footer__cell
      section.bottom-nav
        h3.bottom-nav__name
          | Наши партнеры
        ul.bottom-nav__list
          li.bottom-nav__item
            a.bottom-nav__link(href='http://www.diaconia.ru/', target='_blank')
              | Синодальный отдел по церковной благотворительности и социальному служению
          li.bottom-nav__item
            a.bottom-nav__link(href='https://www.miloserdie.ru/', target='_blank')
              | Православная служба помощи &laquo;Милосердие&raquo;
          li.bottom-nav__item
            a.bottom-nav__link(href='http://www.sestra-miloserdiya.ru/', target='_blank')
              | Свято-Димитриевское училище сестер милосердия
          li.bottom-nav__item
            a.bottom-nav__link(href='http://pravbolnitsa.ru/', target='_blank')
              | Больница Святителя Алексия
  .wrapper
    .footer__line
  .wrapper
    .corpinfo
      | Местная православная религиозная организация &laquo;Сестричество во имя благоверного царевича Димитрия&raquo; Московской епархии Русской Православной Церкви
    .copyright
      | При использовании материалов ссылка на 
      a.copyright__link(href='https://patrdimitry.ru')
        | patrdimitry.ru
      |  обязательна
    .webmikorn
      a(href='https://webmikorn.ru/', target='_blank')
        | Разработка сайта Микорн
