nav#navigation.navigation
  ul#navigation-list.navigation__list.navigation__hidden
    li
      a(href='#')
        | Главная
    li
      a(href='#')
        | О нас
    li
      a(href='#')
        | Наши подопечные
      ul
        li
          a(href='#')
           | Текущие подопечные
        li
          a(href='#')
           | Уже не с нами
    li
      a(href='#')
        | В помощь ухаживающим
      ul
        li
          a(href='#')
           | Памятки по социальной защите
        li
          a(href='#')
           | Вопросы и ответы
        li
          a(href='#')
           | Полезные статьи для ухаживающих
        li
          a(href='#')
           | Обучающие презентации по уходу
        li
          a(href='#')
           | Видеоматериалы по патронажному уходу
    li
      a(href='#')
        | Вакансии
    li
      a(href='#')
        | Контакты
