#search.search
  form.search__form
    table.search__table
      tbody
        tr
          td.search__td
            input.search__input(type='text', placeholder='Поиск по сайту')
          td.search__td.text-center
            button#search__button.search__button(type='submit')
              i.fa.fa-search(aria-hidden='true')
  #search__shut.search__shut.shut
    i.fa.fa-times(aria-hidden='true')
