.fact__cell
  position relative
  @media only screen and (min-width: xs)
    float left
    width 50%
  @media only screen and (min-width: sm)
    width 33.3333%
  @media only screen and (min-width: lg)
    width 16.6666%
