.name
  font-size round(fontSize * 1.1)
  margin 10px 0
  @media only screen and (min-width: sm)
    font-size round(fontSize * 1.0)
  @media only screen and (min-width: md)
    font-size round(fontSize * 1.1)
