section.section.benefactor
  .section__header.benefactor__header
    .wrapper
      h2.section__title.section__title_color_accent.benefactor__title
        | Наши благодарности
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.benefactor__subtitle
        | Сердечно благодарим наших жертвователей
  .section__content.benefactor__content
    .wrapper
      .benefactor__description.description
        ul.benefactor__list.list
          li.benefactor__item.list__item
            | Компанию &laquo;Ростелеком&raquo; за помощь в финансировании проекта
          li.benefactor__item.list__item
            | Комитет общественных связей г. Москвы за предоставление субсидии 2013-15 гг.
          li.benefactor__item.list__item
            | Институт проблем гражданского общества за выделение средств Гранта в 2014-15 гг.
          li.benefactor__item.list__item
            | Школу испанского языка ESPALABRA за предоставление бесплатных занятий по испанскому языку для детей из многодетных семей, а также сбор канцелярских принадлежностей и книг для детей.
          li.benefactor__item.list__item
            | Благотворителя Евгения
          li.benefactor__item.list__item
            | Благотворителя Виктора
