section.section.charity
  .section__header.charity__header
    .wrapper
      h2.section__title.section__title_color_accent.charity__title
        | Как вы можете помочь
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.charity__subtitle
        | Патронажная служба Милосердие на 90% существует за счет пожертвований и любая ваша помощь важна для нас
  .section__content.charity__content
    .wrapper
      .charity__cell
        section.charity__one.one
          .charity__frame.frame
            img(src='assets/images/charity/charity_01.jpg')
          h3.charity__name.name
            | Сделать финансовое пожертвование
      .charity__cell
        section.charity__one.one
          .charity__frame.frame
            img(src='assets/images/charity/charity_02.jpg')
          h3.charity__name.name
            | Передать в дар медицинскую технику
      .charity__cell
        section.charity__one.one
          .charity__frame.frame
            img(src='assets/images/charity/charity_03.jpg')
          h3.charity__name.name
            | Пожертвовать средства по уходу и лечебное питание
      .charity__cell
        section.charity__one.one
          .charity__frame.frame
            img(src='assets/images/charity/charity_04.jpg')
          h3.charity__name.name
            | Стать добровольцем
    .wrapper
      .charity__description
        p
          | Большинство наших подопечных &mdash; тяжелобольные, инвалиды, одинокие пожилые люди &mdash; не имеют возможности самостоятельно оплатить патронажный уход. Для помощи таким категориям граждан Православной службой помощи &laquo;Милосердие&raquo; была создана благотворительная программа &laquo;Сиделки&raquo;.
        p
          | Даже небольшое денежное пожертвование важно для нас и наших подопечных. Вы можете сделать как разовое, так и регулярное ежемесячное списание в рамках благотворительной программы &laquo;Сиделки&raquo;.
    .wrapper
      .button-group.text-center
        a.button.button_bg_accent.button_size_large(href='https://miloserdie.help/donate/?item=1350', target='_blank')
          | Помочь службе
