section.coast.parallax-window(data-parallax='scroll', data-image-src='assets/images/coast/coast.jpg')
  .coast__overlay
    .coast__header
      h1.coast__title
        | Патронажная служба Милосердие
      .line
        .line__item.line__item_color_light
        .line__square.line__square_color_light
          i.fa.fa-square
        .line__item.line__item_color_light
      .coast__subtitle
        | Комплексная помощь тяжелобольным, их родственникам, одиноким пожилым людям и инвалидам
