section.section.category
  .section__header.category__header
    .wrapper
      h2.section__title.section__title_color_accent.category__title
        | Наши подопечные
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.category__subtitle
        | Наши дорогие подопечные, за которыми мы осуществляем уход
  .section__content.category__content
    .container
      section.category__one.one
        .row
          .col-sm-5.col-md-4.col-lg-3
            a(href='#')
              .category__frame.frame
                img(src='assets/images/wards/ward_1.jpg')
          .col-sm-7.col-md-8.col-lg-9
            a.category__link(href='#')
              h3.category__name.name
                | Макар Морозов
            a.category__link(href='#')
              .category__description.description
                p
                  | В ноябре 2016 года под Тверью произошла авария: неуправляемая фура врезалась в семейную легковушку. Мама погибла сразу, отец и старшие дети получили тяжелые травмы. Но сильнее всех, из выживших, досталось младшему – шестилетнему Макару. Родители организовали поездку в Санкт-Петербург, чтобы показать детям город и музеи, считали, что это будет полезно для учебы.
            a.button.button_bg_theme(href='#')
              | Подробнее
      section.category__one.one
        .row
          .col-sm-5.col-md-4.col-lg-3
            a(href='#')
              .category__frame.frame
                img(src='assets/images/wards/ward_1.jpg')
          .col-sm-7.col-md-8.col-lg-9
            a.category__link(href='#')
              h3.category__name.name
                | Макар Морозов
            a.category__link(href='#')
              .category__description.description
                p
                  | В ноябре 2016 года под Тверью произошла авария: неуправляемая фура врезалась в семейную легковушку. Мама погибла сразу, отец и старшие дети получили тяжелые травмы. Но сильнее всех, из выживших, досталось младшему – шестилетнему Макару. Родители организовали поездку в Санкт-Петербург, чтобы показать детям город и музеи, считали, что это будет полезно для учебы.
            a.button.button_bg_theme(href='#')
              | Подробнее
      section.category__one.one
        .row
          .col-sm-5.col-md-4.col-lg-3
            a(href='#')
              .category__frame.frame
                img(src='assets/images/wards/ward_1.jpg')
          .col-sm-7.col-md-8.col-lg-9
            a.category__link(href='#')
              h3.category__name.name
                | Макар Морозов
            a.category__link(href='#')
              .category__description.description
                p
                  | В ноябре 2016 года под Тверью произошла авария: неуправляемая фура врезалась в семейную легковушку. Мама погибла сразу, отец и старшие дети получили тяжелые травмы. Но сильнее всех, из выживших, досталось младшему – шестилетнему Макару. Родители организовали поездку в Санкт-Петербург, чтобы показать детям город и музеи, считали, что это будет полезно для учебы.
            a.button.button_bg_theme(href='#')
              | Подробнее
      section.category__one.one
        .row
          .col-sm-5.col-md-4.col-lg-3
            a(href='#')
              .category__frame.frame
                img(src='assets/images/wards/ward_1.jpg')
          .col-sm-7.col-md-8.col-lg-9
            a.category__link(href='#')
              h3.category__name.name
                | Макар Морозов
            a.category__link(href='#')
              .category__description.description
                p
                  | В ноябре 2016 года под Тверью произошла авария: неуправляемая фура врезалась в семейную легковушку. Мама погибла сразу, отец и старшие дети получили тяжелые травмы. Но сильнее всех, из выживших, досталось младшему – шестилетнему Макару. Родители организовали поездку в Санкт-Петербург, чтобы показать детям город и музеи, считали, что это будет полезно для учебы.
            a.button.button_bg_theme(href='#')
              | Подробнее
    .wrapper
      .button-group.text-center
        a.button.button_color_theme.button_size_large(href='#')
          | Смотреть всех подопечных
