section.section.fact.parallax-window(data-parallax='scroll', data-image-src='assets/images/fact/fact.jpg')
  .fact__overlay
    .section__header.fact__header
      .wrapper
        h2.section__title.section__title_color_light.fact__title
          | Наша служба в цифрах
        .line
          .line__item.line__item_color_light
          .line__square.line__square_color_light
            i.fa.fa-square(aria-hidden='true')
          .line__item.line__item_color_light
        .section__subtitle.section__subtitle_color_light.fact__subtitle
          | Основные показатели деятельности службы
    .section__content.fact__content
      .wrapper
        .fact__cell
          section.fact__one.one
            .fact__name.name
              | 60+
            .fact__description.description
              p
                | медицинских и патронажных сестер
        .fact__cell
          section.fact__one.one
            .fact__name.name
              | 40+
            .fact__description.description
              p
                | православных нянь
        .fact__cell
          section.fact__one.one
            .fact__name.name
              | 50+
            .fact__description.description
              p
                | тяжелобольных и инвалидов под опекой
        .fact__cell
          section.fact__one.one
            .fact__name.name
              | 200+
            .fact__description.description
              p
                | консультативных выездов в год
        .fact__cell
          section.fact__one.one
            .fact__name.name
              | 350+
            .fact__description
              p
                | человек в год получают средства по уходу и медтехнику
        .fact__cell
          section.fact__one.one
            .fact__name.name
              | 200+
            .fact__description.description
              p
                | детей на воспитании более чем в 40 семьях
