section.section.category
  .section__header.category__header
    .wrapper
      h2.section__title.section__title_color_accent.category__title
        | Уже не с нами
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.category__subtitle
        | Мы осуществляем уход до последнего дыхания подопечного. Просим молитв за тех, кто уже не с нами
  .section__content.category__content
    .wrapper
      section.category__one.one
        a.category__link(href='#')
          h3.category__name.name
            | Lorem ipsum dolor sit amet
        a.category__link(href='#')
          .category__description.description
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec erat ut ipsum cursus pharetra. Morbi aliquet non velit quis consectetur. Quisque posuere porttitor ultrices. Praesent at justo cursus, malesuada ex a, pretium tellus. Maecenas tincidunt ac sapien eu finibus. In hac habitasse platea dictumst. Integer luctus, nibh vel feugiat blandit, justo mi efficitur tortor, vitae tempus enim leo ac orci. Cras ut volutpat risus. 
        a.button.button_bg_theme(href='#')
          | Подробнее
      section.category__one.one
        a.category__link(href='#')
          h3.category__name.name
            | Lorem ipsum dolor sit amet
        a.category__link(href='#')
          .category__description.description
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec erat ut ipsum cursus pharetra. Morbi aliquet non velit quis consectetur. Quisque posuere porttitor ultrices. Praesent at justo cursus, malesuada ex a, pretium tellus. Maecenas tincidunt ac sapien eu finibus. In hac habitasse platea dictumst. Integer luctus, nibh vel feugiat blandit, justo mi efficitur tortor, vitae tempus enim leo ac orci. Cras ut volutpat risus. 
        a.button.button_bg_theme(href='#')
          | Подробнее
      section.category__one.one
        a.category__link(href='#')
          h3.category__name.name
            | Lorem ipsum dolor sit amet
        a.category__link(href='#')
          .category__description.description
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec erat ut ipsum cursus pharetra. Morbi aliquet non velit quis consectetur. Quisque posuere porttitor ultrices. Praesent at justo cursus, malesuada ex a, pretium tellus. Maecenas tincidunt ac sapien eu finibus. In hac habitasse platea dictumst. Integer luctus, nibh vel feugiat blandit, justo mi efficitur tortor, vitae tempus enim leo ac orci. Cras ut volutpat risus. 
        a.button.button_bg_theme(href='#')
          | Подробнее
    .wrapper
      .button-group.text-center
        a.button.button_color_theme.button_size_large(href='#')
          | Смотреть всех почивших
