section.section.news
  .section__header.news__header
    .wrapper
      h2.section__title.section__title_color_accent.news__title
        | Новости и события
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.news__subtitle
        | Жизнь нашей службы и подопечных
  .section__content.news__content
    .wrapper
      .news__cell
        section.news__one.one
          a.news__link.link(href='#')
            h3.news__name.name
              | Lorem ipsum dolor sit amet
            .news__description.description
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat bibendum rhoncus. Phasellus sed pharetra magna, sollicitudin cursus quam. Praesent fermentum maximus ligula non vestibulum. Nunc convallis vel nisl sed rhoncus. Cras id tortor massa. Aliquam erat volutpat. Vestibulum efficitur lorem est, sed scelerisque urna feugiat nec. Aliquam erat volutpat. Donec at aliquam ipsum. 
            .news__square
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
      .news__cell
        section.news__one.one
          a.news__link.link(href='#')
            h3.news__name.name
              | Lorem ipsum dolor sit amet
            .news__description.description
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat bibendum rhoncus. Phasellus sed pharetra magna, sollicitudin cursus quam. Praesent fermentum maximus ligula non vestibulum. Nunc convallis vel nisl sed rhoncus. Cras id tortor massa. Aliquam erat volutpat.
            .news__square
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
      .news__cell
        section.news__one.one
          a.news__link.link(href='#')
            h3.news__name.name
              | Lorem ipsum dolor sit amet
            .news__description.description
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat bibendum rhoncus. Phasellus sed pharetra magna, sollicitudin cursus quam. Praesent fermentum maximus ligula non vestibulum. Nunc convallis vel nisl sed rhoncus. Cras id tortor massa. Aliquam erat volutpat. Vestibulum efficitur lorem est, sed scelerisque urna feugiat nec. Aliquam erat volutpat. Donec at aliquam ipsum. 
            .news__square
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
    .wrapper
      .button-group.text-center
        a.button.button_color_theme.button_size_large(href='#')
          | Смотреть все новости
