section.section.partner
  .section__header.partner__header
    .wrapper
      h2.section__title.section__title_color_accent.partner__title
        | Наши партнеры
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.partner__subtitle
        | Наша деятельность осуществляется в сотрудничестве и при поддержке следующих организаций
  .section__content.partner__content
    .wrapper
      .partner__cell
        section.partner__one.one
          a.partner__link.link(href='http://www.diaconia.ru/', target='_blank')
            .partner__frame.frame
              img(src='assets/images/partner/partner_diaconia.jpg')
            h3.partner__name.name
              | Синодальный отдел по церковной благотворительности и социальному служению
      .partner__cell
        section.partner__one.one
          a.partner__link.link(href='https://www.miloserdie.ru/', target='_blank')
            .partner__frame.frame
              img(src='assets/images/partner/partner_miloserdie.jpg')
            h3.partner__name.name
              | Православная служба помощи &laquo;Милосердие&raquo;
      .partner__cell
        section.partner__one.one
          a.partner__link.link(href='http://www.sestra-miloserdiya.ru/', target='_blank')
            .partner__frame.frame
              img(src='assets/images/partner/partner_sisters.jpg')
            h3.partner__name.name
              | Свято-Димитриевское училище сестер милосердия 
      .partner__cell
        section.partner__one.one
          a.partner__link.link(href='http://pravbolnitsa.ru/', target='_blank')
            .partner__frame.frame
              img(src='assets/images/partner/partner_alexiy.jpg')
            h3.partner__name.name
              | Больница Святителя Алексия
