section.section.service
  .section__header.service__header
    .wrapper
      h2.section__title.section__title_color_accent.service__title
        | Как мы помогаем
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.service__subtitle
        | Служба оказывает помощь по различным направлениям, связанных с патронажным уходом и социальной адаптацией
  .section__content.service__content
    .wrapper
      .section__overlay#service__overlay.service__overlay
      .service__cell
        section.service__one.one
          .service__shut.shut
            i.fa.fa-times(aria-hidden='true')
          .service__frame.frame
            img(src='assets/images/services/service_01.jpg')
          h3.service__name.name
            | Уход за тяжелобольными
          .service__description.description
            ul.service__list
              li.service__item
                | Оценка и контроль общего состояния
              li.service__item
                | Выполнение гигиенических процедур
              li.service__item
                | Соблюдение режима дня питания
              li.service__item
                | Учет физиологических показателей
              li.service__item
                | Выполнение врачебных назначений
              li.service__item
                | Социально-бытовая помощь
      .service__cell
        section.service__one.one
          .service__shut.shut
            i.fa.fa-times(aria-hidden='true')
          .service__frame.frame
            img(src='assets/images/services/service_02.jpg')
          h3.service__name.name
            | Разовая выездная помощь 
          .service__description.description
            ul.service__list 
              li.service__item
                | Демонстрация приемов перемещения
              li.service__item
                | Помощь в купании больного 
              li.service__item
                | Стрижка волос и ногтей
              li.service__item
                | Обработка пролежней
              li.service__item
                | Другие разовые процедуры
      .service__cell
        section.service__one.one
          .service__shut.shut
            i.fa.fa-times(aria-hidden='true')
          .service__frame.frame
            img(src='assets/images/services/service_03.jpg')
          h3.service__name.name
            | Консультирование родственников
          .service__description.description
            ul.service__list
              li.service__item
                | Планирование ухода
              li.service__item
                | Рекомендации по подбору медицинской техники
              li.service__item
                | Планирование режима дня и питания
              li.service__item
                | Профилактика и обработка пролежней
      .service__cell
        section.service__one.one
          .service__shut.shut
            i.fa.fa-times(aria-hidden='true')
          .service__frame.frame
            img(src='assets/images/services/service_04.jpg')
          h3.service__name.name
            | Благотворительный прокат
          .service__description.description
            ul.service__list
              li.service__item
                | Медицинский инвентарь
              li.service__item
                | Реабилитационная техника
      .service__cell
        section.service__one.one
          .service__shut.shut
            i.fa.fa-times(aria-hidden='true')
          .service__frame.frame
            img(src='assets/images/services/service_05.jpg')
          h3.service__name.name
            | Предоставление средств по уходу
          .service__description.description
            ul.service__list
              li.service__item
                | Подгузники
              li.service__item
                | Пеленки
              li.service__item
                | Гигиенические средства
              li.service__item
                | На период оформления ИПР инвалида
      .service__cell
        section.service__one.one
          .service__shut.shut
            i.fa.fa-times(aria-hidden='true')
          .service__frame.frame
            img(src='assets/images/services/service_06.jpg')
          h3.service__name.name
            | Обучение навыкам ухода
          .service__description.description
            ul.service__list
              li.service__item
                | На дому
              li.service__item
                | На занятиях Школы по уходу
