section.section.ward
  .section__header.ward__header
    .wrapper
      h2.section__title.section__title_color_accent.ward__title
        | Наши подопечные
      .line
        .line__item.line__item_color_accent
        .line__square.line__square_color_accent
          i.fa.fa-square(aria-hidden='true')
        .line__item.line__item_color_accent
      .section__subtitle.section__subtitle_color_accent.ward__subtitle
        | Наши дорогие подопечные, за которыми мы осуществляем уход
  .section__content.ward__content
    .wrapper
      .owl-carousel.owl-theme.ward__carousel
        section.item.ward__one.one
          a.ward__link.link(href='#')
            .ward__frame.frame
              img(src='assets/images/wards/ward_1.jpg')
            h3.ward__name.name
              | Имя Подопечного text text text name
            .ward__description.description
              p
                | Здесь будет какой-то текст, описывающий жизнь, текущее положение и заболевание подопечного.
        section.item.ward__one.one
          a.ward__link.link(href='#')
            .ward__frame.frame
              img(src='assets/images/wards/ward_1.jpg')
            h3.ward__name.name
              | Имя Подопечного text text text name
            .ward__description.description
              p
                | Здесь будет какой-то текст, описывающий жизнь, текущее положение и заболевание подопечного.
        section.item.ward__one.one
          a.ward__link.link(href='#')
            .ward__frame.frame
              img(src='assets/images/wards/ward_1.jpg')
            h3.ward__name.name
              | Имя Подопечного text text text name
            .ward__description.description
              p
                | Здесь будет какой-то текст, описывающий жизнь, текущее положение и заболевание подопечного.
        section.item.ward__one.one
          a.ward__link.link(href='#')
            .ward__frame.frame
              img(src='assets/images/wards/ward_1.jpg')
            h3.ward__name.name
              | Имя Подопечного text text text name
            .ward__description.description
              p
                | Здесь будет какой-то текст, описывающий жизнь, текущее положение и заболевание подопечного.
        section.item.ward__one.one
          a.ward__link.link(href='#')
            .ward__frame.frame
              img(src='assets/images/wards/ward_1.jpg')
            h3.ward__name.name
              | Имя Подопечного text text text name
            .ward__description.description
              p
                | Здесь будет какой-то текст, описывающий жизнь, текущее положение и заболевание подопечного.
        section.item.ward__one.one
          a.ward__link.link(href='#')
            .ward__frame.frame
              img(src='assets/images/wards/ward_1.jpg')
            h3.ward__name.name
              | Имя Подопечного text text text name
            .ward__description.description
              p
                | Здесь будет какой-то текст, описывающий жизнь, текущее положение и заболевание подопечного.
    .wrapper
      .button-group.text-center
        a.button.button_color_theme.button_size_large(href='#')
          | Смотреть всех подопечных
