.single__content
  quotes '&laquo;' '&raquo;'
  iframe
    display block
    height 320px
    margin auto
    max-width 853px
    width 100%
    @media only screen and (min-width: xs)
      height 400px
    @media only screen and (min-width: s)
      height 480px
  img
    border-radius 5px
  q
    quotes '&laquo;' '&raquo;'
