.single__thumb
  margin 0 auto 10px
  border-radius: 5px
  max-width 300px
  max-height 200px
  overflow hidden
  img
    width 100%
    height auto
  @media only screen and (min-width: xs)
    float left
    margin 0 10px 10px 0