.news__link
  &:hover .news__name
    color darken(themeColor, changeColor)
  &:hover .news__description
    color darken(darkColor, changeColor)
  &:hover .news__square i
    color darken(themeColor, changeColor)
