.news__square
  color themeColor
  margin-top 10px
  text-align center
  i
    display inline-block
    font-size round(fontSize * 0.7)
    height round(fontSize * 0.7)
    margin-right 10px
    transform rotate(45deg)
    width 10px
    &:last-child
      margin 0
