.material__link
  color lighten(darkColor, changeColor)
  &:hover
    color lighten(darkColor, changeColor)
  &:hover .material__thumbnail
    color themeColor
  &:hover .material__name
    color themeColor
