.service__one
  margin 20px auto
  max-width 390px
  padding 0
  z-index 1
  @media only screen and (min-width: sm)
    margin 0 auto
    max-width 100%
  &:hover .service__name
    background themeColor
