.service__name
  background themeOverlay
  bottom 0
  color lightColor
  cursor pointer
  font-weight 400
  width 240px
  padding 10px
  position absolute
  transition-duration 0.35s
  z-index 3
  @media only screen and (min-width: md)
    width auto
    padding 5px
    width 200px
  @media only screen and (min-width: lg)
    padding 10px
    width auto
