.social__link
  display inline-block
  i
    border 2px solid lightColor
    border-radius 50%
    color lightColor
    display inline-block
    font-size round(fontSize* 1.0)
    height round(fontSize * lineHeight * 1.6)
    line-height round(fontSize * lineHeight * 1.5)
    margin-left 10px
    text-align center
    verical-align middle
    width round(fontSize * lineHeight * 1.6)
